.gearPlugCard {
    margin: 15px 15px;
    padding: 1.5rem;
    box-shadow: 0px 0px 16px rgba(41, 74, 120, 0.1);
    border-radius: 5px;
}
.gearPlugCard .card-body {
    padding: 1rem 2rem 3rem 2rem;
    font-size: 1.7rem;
    text-shadow: 0px 0px 4px rgba(153, 153, 153, 0.4);
}
.gearPlugCard .card-header {
    font-size: 2rem;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    padding: 1.7rem;
    font-weight: bold;
}
.gearPlugCard .card-header, .gearPlugCard .card-footer{
    background-color: initial;
}
.gearPlugCard.default {
    background: #ffffff !important;
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%)  !important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed))  !important;
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%)  !important;
    background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%)  !important;
    background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%)  !important;
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%)  !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 )  !important;
}
.gearPlugCard.green-card {
    background: linear-gradient(180deg, #7CDA90 0%, #A0F0B1 0.01%, #65C77A 100%);
    color: white;
}
.gearPlugCard.yellow-card {
    background: linear-gradient(180deg, #F5C66A 0%, #F5C66A 0.01%, #F5AD21 100%);
    color: white;
}
.gearPlugCard.magenta-card {
    background: linear-gradient(180deg, #5EC3FC 0%, #F92F5F 0.01%, #C5254C 100%);
    color: white;
}